INFINITX_AI_Outreach_Webhook__TEMPLATE_.json
{
  "name": "INFINITX AI Outreach Webhook [TEMPLATE]",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.customData['Event Name'] }}",
                    "rightValue": "rvm_1_infinitx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e002ad16-bbdb-4da2-ac5f-1aa0e8a04fd0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rvm_1_infinitx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b4924a7-d246-4ece-92d2-da0f36120bbd",
                    "leftValue": "={{ $('Webhook').item.json.body.customData['Event Name'] }}",
                    "rightValue": "rvm_2_infinitx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rvm_2_infinitx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77753795-fb5d-4180-b2d9-1071168c5d48",
                    "leftValue": "={{ $('Webhook').item.json.body.customData['Event Name'] }}",
                    "rightValue": "rvm_3_infinitx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rvm_3_infinitx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "35390028-5a75-4384-80cc-3ada5c3ebb9e",
                    "leftValue": "={{ $('Webhook').item.json.body.customData['Event Name'] }}",
                    "rightValue": "sms_1_infinitx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms_1_infinitx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ba4fb98a-cb1f-4ec5-ab06-8cc97e45821c",
                    "leftValue": "={{ $('Webhook').item.json.body.customData['Event Name'] }}",
                    "rightValue": "sms_2_infinitx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms_2_infinitx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0446a29f-34d6-4e85-84c2-edb0c24b80ce",
                    "leftValue": "={{ $('Webhook').item.json.body.customData['Event Name'] }}",
                    "rightValue": "sms_3_infinitx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms_3_infinitx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -740,
        1300
      ],
      "id": "6fd85e0c-0eb6-4bed-b227-00a32d657e69",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Webhook').item.json.body.contact_id }}\",\n  \"message\": {{ JSON.stringify($('SMS 1 Spintax').item.json['SMS 1 Spintax']) }},\n  \"fromNumber\": \"{{ $('Webhook').item.json.body['Assigned Phone Number'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1040
      ],
      "id": "e1400270-c5d9-4577-8df5-f56cd925b5dc",
      "name": "Send SMS 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contact_id }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tags\": [\n    \"sms 1 sent\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        1040
      ],
      "id": "26350f95-50d0-43eb-9dd1-ef8c4a52d09e",
      "name": "Add Tag SMS 1 Sent"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"{{ $('Webhook').item.json.body.customData['Conversation ID'] }}\",\n      \"key\": \"Conversation ID\",\n      \"field_value\": \"{{ $('Send SMS 1').item.json.conversationId }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        1040
      ],
      "id": "1300ec17-1862-4eb0-8861-8c671531eb54",
      "name": "Update Conversation ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contact_id }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tags\": [\n    \"sms 2 sent\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        1260
      ],
      "id": "a96c81b5-10ec-4aba-ab99-53123931550f",
      "name": "Add Tag SMS 2 Sent"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"{{ $('Webhook').item.json.body.customData['Conversation ID'] }}\",\n      \"key\": \"Conversation ID\",\n      \"field_value\": \"{{ $('Send SMS 2').item.json.conversationId }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        1260
      ],
      "id": "c49ee381-c4dd-480e-866d-dfa32eb5aca1",
      "name": "Update Conversation ID 2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a35c74da-7f93-4bf6-8200-dfdac012aaaf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4720,
        1380
      ],
      "id": "3e3c6c3c-dd1f-4b42-bd9e-b7136a8613f5",
      "name": "Webhook",
      "webhookId": "a35c74da-7f93-4bf6-8200-dfdac012aaaf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Webhook').item.json.body.contact_id }}\",\n  \"message\": {{ JSON.stringify($('SMS 3 Spintax').item.json['SMS 3 Spintax'] ) }},\n  \"fromNumber\": \"{{ $('Webhook').item.json.body['Assigned Phone Number'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1480
      ],
      "id": "c5df253a-e57d-422a-9e4d-576ba0257cbe",
      "name": "Send SMS 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contact_id }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tags\": [\n    \"sms 3 sent\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        1480
      ],
      "id": "bc482dea-0d32-4ab6-aa69-c996033e3452",
      "name": "Add Tag SMS 3 Sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Webhook').item.json.body.contact_id }}\",\n  \"message\": {{ JSON.stringify($('SMS 2 Spintax').item.json['SMS 2 Spintax'] ) }},\n  \"fromNumber\": \"{{ $('Webhook').item.json.body['Assigned Phone Number'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1260
      ],
      "id": "b0147f6f-afa3-4a04-947e-da1afdd2a608",
      "name": "Send SMS 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9de026d-8ccb-4111-a1d4-d25bca5dd081",
              "name": "SMS 2 Spintax",
              "value": "={{ PASTE SPINTAX IN HERE - YOU GET THIS EMAILED TO YOU - FOLLOW SOP - MESSAGE MUST BE UNDER 150 CHARACTERS }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        1260
      ],
      "id": "ad05635a-2070-4c81-b543-60afe9b84319",
      "name": "SMS 2 Spintax"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9de026d-8ccb-4111-a1d4-d25bca5dd081",
              "name": "SMS 1 Spintax",
              "value": "={{ PASTE SPINTAX IN HERE - YOU GET THIS EMAILED TO YOU - FOLLOW SOP - MESSAGE MUST BE UNDER 150 CHARACTERS }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        1040
      ],
      "id": "01fabd01-2071-44d4-9b7d-f5db0d268ef4",
      "name": "SMS 1 Spintax"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9de026d-8ccb-4111-a1d4-d25bca5dd081",
              "name": "SMS 3 Spintax",
              "value": "={{ PASTE SPINTAX IN HERE - YOU GET THIS EMAILED TO YOU - FOLLOW SOP - MESSAGE MUST BE UNDER 150 CHARACTERS }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        1480
      ],
      "id": "bd14e18d-c11f-448a-9de5-30958c497ccf",
      "name": "SMS 3 Spintax"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{YOUR GOOGLE SHEET ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI TEXT SENT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T09BY4jiBZ80vEi9mMF4pXTXR3TfSCxEP2YLfY_pbRM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json.contact.dateUpdated.replace('T', ' ').split('.')[0]}}",
            "Contact ID": "={{ $('Search Contacts GHL2').item.json.contacts[0].id }}",
            "Lead Name": "={{ $('Search Contacts GHL2').item.json.contacts[0].firstNameLowerCase + \" \" + $('Search Contacts GHL2').item.json.contacts[0].lastNameLowerCase}}",
            "Lead Phone": "={{ $('Set Account Fields').item.json.to_number }}",
            "Business Name": "={{ $('Search Contacts GHL2').item.json.contacts[0].companyName }}",
            "Tags Applied": "={{ $('SMS Cadence 3 Tracking').item.json['Tags Applied'] }}",
            "Response Channel": "={{ $('SMS Cadence 3 Tracking').item.json['Response Channel'] }}",
            "Lead Email": "={{ $('Search Contacts GHL2').item.json.contacts[0].email }}",
            "Text Cadence # ": "={{ $('SMS Cadence 3 Tracking').item.json['Text Cadence #'] }}",
            "Spintax Text Variant": "={{ $('SMS Cadence 3 Tracking').item.json['Spintax Text Variant'] }}",
            "Spintax Text Cadence Content": "={{ $('SMS Cadence 3 Tracking').item.json['Spintax Cadence Content'] }}",
            "Text Sent Cost": "={{ $('SMS Cadence 3 Tracking').item.json['Text Sent Cost'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact ID",
              "displayName": "Contact ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Phone",
              "displayName": "Lead Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Channel",
              "displayName": "Response Channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Text Cadence # ",
              "displayName": "Text Cadence # ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spintax Text Cadence Content",
              "displayName": "Spintax Text Cadence Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spintax Text Variant",
              "displayName": "Spintax Text Variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags Applied",
              "displayName": "Tags Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text Sent Cost",
              "displayName": "Text Sent Cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1880,
        1460
      ],
      "id": "9e9f9c4a-57cf-4919-969d-1e9981ddbc08",
      "name": "Update AI (Text Sent) Channel Data Tracking2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A6IQYss6hkOiCdiq",
          "name": "InfinitX Sheet Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e420e88-3df4-4b30-b655-7bc18143a1c1",
              "name": "Response Channel",
              "value": "SMS",
              "type": "string"
            },
            {
              "id": "9f8d6145-4edc-4e28-b998-fb4a61ee8bf8",
              "name": "Text Cadence #",
              "value": "SMS 1 spintax",
              "type": "string"
            },
            {
              "id": "2969596d-5429-4313-9762-b6dd5f312744",
              "name": "Spintax Text Variant",
              "value": "SMS 1 spintax v1",
              "type": "string"
            },
            {
              "id": "9ab1a6f8-b43f-44c0-b2cb-1ab13e966727",
              "name": "Tags Applied",
              "value": "sms 1 sent",
              "type": "string"
            },
            {
              "id": "0ca9c1b7-afd7-4738-8066-cfdb5c7ffae9",
              "name": "Spintax Cadence Content",
              "value": "={{ $('SMS 1 Spintax').item.json['SMS 1 Spintax'] }}",
              "type": "string"
            },
            {
              "id": "097aab45-7866-4892-be4d-7a8054c57a06",
              "name": "Text Sent Cost",
              "value": "$0.0083",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        1040
      ],
      "id": "e85b19b2-1064-4ce2-b817-6ba41be60fb5",
      "name": "SMS Cadence 1 Tracking"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e420e88-3df4-4b30-b655-7bc18143a1c1",
              "name": "Response Channel",
              "value": "SMS",
              "type": "string"
            },
            {
              "id": "9f8d6145-4edc-4e28-b998-fb4a61ee8bf8",
              "name": "Text Cadence #",
              "value": "SMS 2 spintax",
              "type": "string"
            },
            {
              "id": "2969596d-5429-4313-9762-b6dd5f312744",
              "name": "Spintax Text Variant",
              "value": "SMS 2 spintax v1",
              "type": "string"
            },
            {
              "id": "9ab1a6f8-b43f-44c0-b2cb-1ab13e966727",
              "name": "Tags Applied",
              "value": "sms 2 sent",
              "type": "string"
            },
            {
              "id": "0ca9c1b7-afd7-4738-8066-cfdb5c7ffae9",
              "name": "Spintax Cadence Content",
              "value": "={{ $('SMS 2 Spintax').item.json['SMS 2 Spintax'] }}",
              "type": "string"
            },
            {
              "id": "8deffca2-2af2-4186-a5ec-6b3e4b060ebb",
              "name": "Text Sent Cost",
              "value": "$0.0083",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        1260
      ],
      "id": "8d1c0e2f-7ad2-424d-91b4-d7a261528ff7",
      "name": "SMS Cadence 2 Tracking"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e420e88-3df4-4b30-b655-7bc18143a1c1",
              "name": "Response Channel",
              "value": "SMS",
              "type": "string"
            },
            {
              "id": "9f8d6145-4edc-4e28-b998-fb4a61ee8bf8",
              "name": "Text Cadence #",
              "value": "SMS 3 spintax",
              "type": "string"
            },
            {
              "id": "2969596d-5429-4313-9762-b6dd5f312744",
              "name": "Spintax Text Variant",
              "value": "SMS 3 spintax v1",
              "type": "string"
            },
            {
              "id": "9ab1a6f8-b43f-44c0-b2cb-1ab13e966727",
              "name": "Tags Applied",
              "value": "sms 3 sent",
              "type": "string"
            },
            {
              "id": "0ca9c1b7-afd7-4738-8066-cfdb5c7ffae9",
              "name": "Spintax Cadence Content",
              "value": "={{ $('SMS 3 Spintax').item.json['SMS 3 Spintax'] }}",
              "type": "string"
            },
            {
              "id": "62457233-8c88-4e8e-875c-71f9d6787cdb",
              "name": "Text Sent Cost",
              "value": "$0.0083",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        1480
      ],
      "id": "e785f8d9-d95a-4330-96ce-ff1259f5b8e3",
      "name": "SMS Cadence 3 Tracking"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{YOUR GOOGLE SHEET ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI TEXT SENT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T09BY4jiBZ80vEi9mMF4pXTXR3TfSCxEP2YLfY_pbRM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json.contact.dateUpdated.replace('T', ' ').split('.')[0]}}",
            "Contact ID": "={{ $('Search Contacts GHL2').item.json.contacts[0].id }}",
            "Lead Name": "={{ $('Search Contacts GHL2').item.json.contacts[0].firstNameLowerCase + \" \" + $('Search Contacts GHL2').item.json.contacts[0].lastNameLowerCase}}",
            "Lead Phone": "={{ $('Set Account Fields').item.json.to_number }}",
            "Business Name": "={{ $('Search Contacts GHL2').item.json.contacts[0].companyName }}",
            "Tags Applied": "={{ $('SMS Cadence 2 Tracking').item.json['Tags Applied'] }}",
            "Response Channel": "={{ $('SMS Cadence 2 Tracking').item.json['Response Channel'] }}",
            "Lead Email": "={{ $('Search Contacts GHL2').item.json.contacts[0].email }}",
            "Spintax Text Variant": "={{ $('SMS Cadence 2 Tracking').item.json['Spintax Text Variant'] }}",
            "Spintax Text Cadence Content": "={{ $('SMS Cadence 2 Tracking').item.json['Spintax Cadence Content'] }}",
            "Text Cadence # ": "={{ $('SMS Cadence 2 Tracking').item.json['Text Cadence #'] }}",
            "Text Sent Cost": "={{ $('SMS Cadence 2 Tracking').item.json['Text Sent Cost'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact ID",
              "displayName": "Contact ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Phone",
              "displayName": "Lead Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Channel",
              "displayName": "Response Channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Text Cadence # ",
              "displayName": "Text Cadence # ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spintax Text Cadence Content",
              "displayName": "Spintax Text Cadence Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spintax Text Variant",
              "displayName": "Spintax Text Variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags Applied",
              "displayName": "Tags Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text Sent Cost",
              "displayName": "Text Sent Cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1880,
        1240
      ],
      "id": "a1066d4d-f625-48a3-a35d-ecba29d7758c",
      "name": "Update AI (Text Sent) Channel Data Tracking1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A6IQYss6hkOiCdiq",
          "name": "InfinitX Sheet Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"{{ $('Webhook').item.json.body.customData['Conversation ID'] }}\",\n      \"key\": \"Conversation ID\",\n      \"field_value\": \"{{ $('Send SMS 3').item.json.conversationId }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        1480
      ],
      "id": "dff70199-08b9-4677-829d-6b015d39f5a9",
      "name": "Update Conversation ID "
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/conversations/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Set Fields For RVM 1').item.json.contact_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Set Fields For RVM 1').item.json.authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "id": "2a98c686-6e0a-4a88-a77c-5e3fdef5845d",
      "name": "Search Conversations GHL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ce2dfdf-6662-4802-b804-54491263204f",
              "name": "team_id",
              "value": "={{ THIS IS THE TEAM ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "fdbec5fc-c464-4e4e-b7cd-229ebb4255a3",
              "name": "secret",
              "value": "={{ THIS IS THE SECRET FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "b27bdaae-353f-492d-90b4-53f4bd7a229f",
              "name": "recording_id ",
              "value": "={{ THIS IS THE RECORDING ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "0d1f301c-4a85-4376-985c-8c9026418b2f",
              "name": "phone_number",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "cd16a73c-cafa-40c8-897d-2a9346f4c03e",
              "name": "foreign_id",
              "value": "rvm_1_[business name]",
              "type": "string"
            },
            {
              "id": "cdf3af2c-419e-4139-9ea2-6bb7686f0559",
              "name": "pool_id ",
              "value": "={{ THIS IS THE POOL ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "f27636d0-2747-4553-b2a4-c5ad00fb75a6",
              "name": "contact_id",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "42417c88-ab9d-4892-8fb1-c0977d5fc7e6",
              "name": "authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}",
              "type": "string"
            },
            {
              "id": "73a826ec-9f97-4a5a-95b9-0010f467a3bb",
              "name": "rvm_tag",
              "value": "rvm 1 sent",
              "type": "string"
            },
            {
              "id": "87a6cdf3-091e-42b2-9134-db0da01b3fc1",
              "name": "lead_id",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "55e9388a-1e27-4476-88f9-ee793a097942",
              "name": "ghl_contact_id_cold",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "c85a66fe-7a7c-451b-9322-4f8e6d257b6e",
              "name": "lead_name",
              "value": "={{ $('Webhook').item.json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "7529c1e7-298a-401f-ba69-0d64e5be1b08",
              "name": "cadence_id",
              "value": "={{ $('Webhook').item.json.body.customData['Cadence ID'] }}",
              "type": "string"
            },
            {
              "id": "fa8f6549-47fd-4bfd-8b20-036cca46642e",
              "name": "channel",
              "value": "={{ $('Webhook').item.json.body.customData.Channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        180
      ],
      "id": "731e4688-b34d-4f7e-af3f-331f12266fd1",
      "name": "Set Fields For RVM 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ce2dfdf-6662-4802-b804-54491263204f",
              "name": "team_id",
              "value": "={{ THIS IS THE TEAM ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "fdbec5fc-c464-4e4e-b7cd-229ebb4255a3",
              "name": "secret",
              "value": "={{ THIS IS THE SECRET FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "326b27a3-f105-4fea-a7e7-445108e93f33",
              "name": "brand_id",
              "value": "={{ THIS IS THE BRAIND ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "b27bdaae-353f-492d-90b4-53f4bd7a229f",
              "name": "recording_id",
              "value": "={{ THIS IS THE RECORDING ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "0d1f301c-4a85-4376-985c-8c9026418b2f",
              "name": "phone_number",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "cd16a73c-cafa-40c8-897d-2a9346f4c03e",
              "name": "foreign_id",
              "value": "={{rvm_2_[business name]}}",
              "type": "string"
            },
            {
              "id": "cdf3af2c-419e-4139-9ea2-6bb7686f0559",
              "name": "pool_id",
              "value": "={{ THIS IS THE POOL ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "f27636d0-2747-4553-b2a4-c5ad00fb75a6",
              "name": "contact_id",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "42417c88-ab9d-4892-8fb1-c0977d5fc7e6",
              "name": "authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}",
              "type": "string"
            },
            {
              "id": "740db7eb-a231-40f7-9822-7b60696cb2fa",
              "name": "rvm_tag",
              "value": "rvm 2 sent",
              "type": "string"
            },
            {
              "id": "3ede7599-1491-4d5c-aced-bd156b937ce3",
              "name": "lead_id",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "7214396f-4511-4997-9ea9-b9d566d8cf75",
              "name": "ghl_contact_id_cold",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "636f2253-c637-4b84-84b9-b70d5a9433ff",
              "name": "lead_name",
              "value": "={{ $('Webhook').item.json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "a18eb870-4821-4473-839c-15f072636756",
              "name": "cadence_id",
              "value": "={{ $('Webhook').item.json.body.customData['Cadence ID'] }}",
              "type": "string"
            },
            {
              "id": "1914733f-5a2a-43eb-becf-46c98372aa44",
              "name": "channel",
              "value": "={{ $('Webhook').item.json.body.customData.Channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        380
      ],
      "id": "def6d195-5c4f-4e33-9925-2d8620034f3e",
      "name": "Set Fields For RVM 2"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/conversations/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Set Fields For RVM 2').item.json.contact_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Set Fields For RVM 2').item.json.authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        380
      ],
      "id": "4a1e9933-7a0f-464e-848a-4db322308c55",
      "name": "Search Conversations GHL1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Set Fields For RVM 1').item.json.contact_id }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Set Fields For RVM 1').item.json.authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\n    \"{{ $('Set Fields For RVM 1').item.json.rvm_tag }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        180
      ],
      "id": "8b2bb6ea-bc27-47a0-af5b-c03cce1c8c81",
      "name": "Add RVM 1 Sent Tag"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropcowboy.com/v1/rvm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "team_id",
              "value": "={{ $('Set Fields For RVM 1').item.json.team_id }}"
            },
            {
              "name": "secret",
              "value": "={{ $('Set Fields For RVM 1').item.json.secret }}"
            },
            {
              "name": "brand_id",
              "value": "={{ $('Set Fields For RVM 1').item.json[\"brand_id \"] }}"
            },
            {
              "name": "recording_id",
              "value": "={{ $('Set Fields For RVM 1').item.json[\"recording_id \"] }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $('Set Fields For RVM 1').item.json.phone_number }}"
            },
            {
              "name": "foreign_id",
              "value": "={{ $('Set Fields For RVM 1').item.json.foreign_id }}"
            },
            {
              "name": "pool_id",
              "value": "={{ $('Set Fields For RVM 1').item.json[\"pool_id \"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        180
      ],
      "id": "929f6373-6f33-4bbd-ad3d-d73ea1d1e941",
      "name": "RVM 1 Sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropcowboy.com/v1/rvm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "team_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.team_id }}"
            },
            {
              "name": "secret",
              "value": "={{ $('Set Fields For RVM 2').item.json.secret }}"
            },
            {
              "name": "brand_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.brand_id }}"
            },
            {
              "name": "recording_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.recording_id }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $('Set Fields For RVM 2').item.json.phone_number }}"
            },
            {
              "name": "foreign_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.foreign_id }}"
            },
            {
              "name": "pool_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.pool_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        380
      ],
      "id": "642d91aa-1302-4212-aa6e-888d99333ebd",
      "name": "RVM 2 Sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Set Fields For RVM 2').item.json.contact_id }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Set Fields For RVM 2').item.json.authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\n    \"{{ $('Set Fields For RVM 2').item.json.rvm_tag }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        380
      ],
      "id": "0b714cb9-7f58-4a69-b3c6-615328f09928",
      "name": "Add RVM 2 Sent Tag"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/conversations/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Set Fields For RVM 3').item.json.contact_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Set Fields For RVM 3').item.json.authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        600
      ],
      "id": "f952f500-082c-40ca-9f5a-26837dd93498",
      "name": "Search Conversations GHL2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ce2dfdf-6662-4802-b804-54491263204f",
              "name": "team_id",
              "value": "={{ THIS IS THE TEAM ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "fdbec5fc-c464-4e4e-b7cd-229ebb4255a3",
              "name": "secret",
              "value": "={{ THIS IS THE SECRET FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "326b27a3-f105-4fea-a7e7-445108e93f33",
              "name": "brand_id",
              "value": "={{ THIS IS THE BRAIND ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "b27bdaae-353f-492d-90b4-53f4bd7a229f",
              "name": "recording_id (change)",
              "value": "={{ THIS IS THE RECORDING ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "0d1f301c-4a85-4376-985c-8c9026418b2f",
              "name": "phone_number",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "cd16a73c-cafa-40c8-897d-2a9346f4c03e",
              "name": "foreign_id",
              "value": "={{rvm_3_[business name]}}",
              "type": "string"
            },
            {
              "id": "cdf3af2c-419e-4139-9ea2-6bb7686f0559",
              "name": "pool_id (change)",
              "value": "={{ THIS IS THE POOL ID FROM DROP COWBOY }}",
              "type": "string"
            },
            {
              "id": "42417c88-ab9d-4892-8fb1-c0977d5fc7e6",
              "name": "authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.customData['Private Integration Token'] }}",
              "type": "string"
            },
            {
              "id": "740db7eb-a231-40f7-9822-7b60696cb2fa",
              "name": "rvm_tag",
              "value": "rvm 3 sent",
              "type": "string"
            },
            {
              "id": "3ede7599-1491-4d5c-aced-bd156b937ce3",
              "name": "lead_id",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "7214396f-4511-4997-9ea9-b9d566d8cf75",
              "name": "ghl_contact_id_cold",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "636f2253-c637-4b84-84b9-b70d5a9433ff",
              "name": "lead_name",
              "value": "={{ $('Webhook').item.json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "a18eb870-4821-4473-839c-15f072636756",
              "name": "cadence_id",
              "value": "={{ $('Webhook').item.json.body.customData['Cadence ID'] }}",
              "type": "string"
            },
            {
              "id": "1914733f-5a2a-43eb-becf-46c98372aa44",
              "name": "channel",
              "value": "={{ $('Webhook').item.json.body.customData.Channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        600
      ],
      "id": "b88d9a16-3baa-4143-829a-1742b70733f1",
      "name": "Set Fields For RVM 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropcowboy.com/v1/rvm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "team_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.team_id }}"
            },
            {
              "name": "secret",
              "value": "={{ $('Set Fields For RVM 3').item.json.secret }}"
            },
            {
              "name": "brand_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.brand_id }}"
            },
            {
              "name": "recording_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.recording_id }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $('Set Fields For RVM 3').item.json.phone_number }}"
            },
            {
              "name": "foreign_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.foreign_id }}"
            },
            {
              "name": "pool_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.pool_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        600
      ],
      "id": "bb0b5be7-5393-4e3f-80fa-07e2f7e64944",
      "name": "RVM 3 Sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Set Fields For RVM 3').item.json.contact_id }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Set Fields For RVM 3').item.json.authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\n    \"{{ $('Set Fields For RVM 3').item.json.rvm_tag }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        600
      ],
      "id": "498a7ec5-2028-427d-896e-19138a0425c7",
      "name": "Add RVM 3 Sent Tag"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da08edf3-6cb5-4d57-b789-f46a48cd6f9e",
              "name": "lead_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.lead_id }}",
              "type": "string"
            },
            {
              "id": "35a3abf6-7596-45e8-9430-02f1b876df8e",
              "name": "ghl_contact_id_cold",
              "value": "={{ $('Set Fields For RVM 3').item.json.ghl_contact_id_cold }}",
              "type": "string"
            },
            {
              "id": "c5f2ed0a-4969-4c9e-a129-9cc0ecefb626",
              "name": "lead_name",
              "value": "={{ $('Set Fields For RVM 3').item.json.lead_name }}",
              "type": "string"
            },
            {
              "id": "72e5f4b5-d32f-4058-aaa8-60ec34d10751",
              "name": "cadence_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.cadence_id }}",
              "type": "string"
            },
            {
              "id": "04c6ce77-32fe-4957-a04e-1b728fe8c073",
              "name": "channel",
              "value": "={{ $('Set Fields For RVM 3').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "58b171ef-8676-479e-a86a-3cdcea98db38",
              "name": "message_type",
              "value": "automated",
              "type": "string"
            },
            {
              "id": "3c610c1b-3063-4836-aca3-bc6776baa6ae",
              "name": "message_content",
              "value": "=recording id: recording id: {{ $('Set Fields For RVM 3').item.json.recording_id }}",
              "type": "string"
            },
            {
              "id": "d2906058-c2c2-46cb-b6a7-29c13ed08e0d",
              "name": "conversation_id",
              "value": "={{ $('Search Conversations GHL2').item.json.conversations[0].id }}",
              "type": "string"
            },
            {
              "id": "551d83d4-2439-43cb-8301-46a6e15d57ef",
              "name": "interaction_cost",
              "value": "0.007",
              "type": "string"
            },
            {
              "id": "fa1b9e13-f862-4a4a-9cac-048bb7dbc039",
              "name": "metadata",
              "value": "={\"recording_id\": \"{{ $('Set Fields For RVM 3').item.json.recording_id }}\", \"phone_number\": \"{{ $('Set Fields For RVM 3').item.json.phone_number}}\", \"foreign_id\": \"{{ $('Set Fields For RVM 3').item.json.foreign_id}}\"}",
              "type": "string"
            },
            {
              "id": "3684e281-6b28-4a03-a931-d4132789c244",
              "name": "metadata_conversation",
              "value": "={   \"conversation_history\": [     {       \"channel\": \"rvm\",       \"message_type\": \"automated\",       \"message_content\": \"recording id: {{ $('Set Fields For RVM 3').item.json.recording_id }}\",       \"timestamp\": \"{{$now}}\"     }   ] }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        600
      ],
      "id": "0abc61c7-087f-4fb9-abb5-657d9b099199",
      "name": "Set Data For GoogleSheets2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da08edf3-6cb5-4d57-b789-f46a48cd6f9e",
              "name": "lead_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.lead_id }}",
              "type": "string"
            },
            {
              "id": "35a3abf6-7596-45e8-9430-02f1b876df8e",
              "name": "ghl_contact_id_cold",
              "value": "={{ $('Set Fields For RVM 2').item.json.ghl_contact_id_cold }}",
              "type": "string"
            },
            {
              "id": "c5f2ed0a-4969-4c9e-a129-9cc0ecefb626",
              "name": "lead_name",
              "value": "={{ $('Set Fields For RVM 2').item.json.lead_name }}",
              "type": "string"
            },
            {
              "id": "72e5f4b5-d32f-4058-aaa8-60ec34d10751",
              "name": "cadence_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.cadence_id }}",
              "type": "string"
            },
            {
              "id": "04c6ce77-32fe-4957-a04e-1b728fe8c073",
              "name": "channel",
              "value": "={{ $('Set Fields For RVM 2').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "58b171ef-8676-479e-a86a-3cdcea98db38",
              "name": "message_type",
              "value": "automated",
              "type": "string"
            },
            {
              "id": "3c610c1b-3063-4836-aca3-bc6776baa6ae",
              "name": "message_content",
              "value": "=recording id: recording id: {{ $('Set Fields For RVM 2').item.json.recording_id }}",
              "type": "string"
            },
            {
              "id": "d2906058-c2c2-46cb-b6a7-29c13ed08e0d",
              "name": "conversation_id",
              "value": "={{ $('Search Conversations GHL1').item.json.conversations[0].id }}",
              "type": "string"
            },
            {
              "id": "551d83d4-2439-43cb-8301-46a6e15d57ef",
              "name": "interaction_cost",
              "value": "0.007",
              "type": "string"
            },
            {
              "id": "fa1b9e13-f862-4a4a-9cac-048bb7dbc039",
              "name": "metadata",
              "value": "={\"recording_id\": \"{{ $('Set Fields For RVM 2').item.json.recording_id }}\", \"phone_number\": \"{{ $('Set Fields For RVM 2').item.json.phone_number}}\", \"foreign_id\": \"{{ $('Set Fields For RVM 2').item.json.foreign_id}}\"}",
              "type": "string"
            },
            {
              "id": "3684e281-6b28-4a03-a931-d4132789c244",
              "name": "metadata_conversation",
              "value": "={   \"conversation_history\": [     {       \"channel\": \"rvm\",       \"message_type\": \"automated\",       \"message_content\": \"recording id: {{ $('Set Fields For RVM 2').item.json.recording_id }}\",       \"timestamp\": \"{{$now}}\"     }   ] }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        380
      ],
      "id": "6a8c277c-797b-4cf1-8eae-eb7ad4b8c5ce",
      "name": "Set Data For GoogleSheets1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da08edf3-6cb5-4d57-b789-f46a48cd6f9e",
              "name": "lead_id",
              "value": "={{ $('Set Fields For RVM 1').item.json.lead_id }}",
              "type": "string"
            },
            {
              "id": "35a3abf6-7596-45e8-9430-02f1b876df8e",
              "name": "ghl_contact_id_cold",
              "value": "={{ $('Set Fields For RVM 1').item.json.ghl_contact_id_cold }}",
              "type": "string"
            },
            {
              "id": "c5f2ed0a-4969-4c9e-a129-9cc0ecefb626",
              "name": "lead_name",
              "value": "={{ $('Set Fields For RVM 1').item.json.lead_name }}",
              "type": "string"
            },
            {
              "id": "72e5f4b5-d32f-4058-aaa8-60ec34d10751",
              "name": "cadence_id",
              "value": "={{ $('Set Fields For RVM 1').item.json.cadence_id || 'none' }}",
              "type": "string"
            },
            {
              "id": "04c6ce77-32fe-4957-a04e-1b728fe8c073",
              "name": "channel",
              "value": "={{ $('Set Fields For RVM 1').item.json.channel || 'none' }}",
              "type": "string"
            },
            {
              "id": "58b171ef-8676-479e-a86a-3cdcea98db38",
              "name": "message_type",
              "value": "=automated",
              "type": "string"
            },
            {
              "id": "3c610c1b-3063-4836-aca3-bc6776baa6ae",
              "name": "message_content",
              "value": "=recording id: {{ $('Set Fields For RVM 1').item.json.recording_id }}",
              "type": "string"
            },
            {
              "id": "d2906058-c2c2-46cb-b6a7-29c13ed08e0d",
              "name": "conversation_id",
              "value": "={{ $('Search Conversations GHL').item.json.conversations[0].id }}",
              "type": "string"
            },
            {
              "id": "551d83d4-2439-43cb-8301-46a6e15d57ef",
              "name": "interaction_cost",
              "value": "=0.007",
              "type": "string"
            },
            {
              "id": "fa1b9e13-f862-4a4a-9cac-048bb7dbc039",
              "name": "metadata",
              "value": "={\"recording_id\": \"{{ $('Set Fields For RVM 1').item.json.recording_id }}\", \"phone_number\": \"{{ $('Set Fields For RVM 1').item.json.phone_number}}\", \"foreign_id\": \"{{ $('Set Fields For RVM 1').item.json.foreign_id}}\"}",
              "type": "string"
            },
            {
              "id": "3684e281-6b28-4a03-a931-d4132789c244",
              "name": "metadata_conversation",
              "value": "={   \"conversation_history\": [     {       \"channel\": \"rvm\",       \"message_type\": \"automated\",       \"message_content\": \"recording id: {{ $('Set Fields For RVM 1').item.json.recording_id }}\",       \"timestamp\": \"{{$now}}\"     }   ] }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        180
      ],
      "id": "cbfcaf65-9cf3-46e2-a863-de6bffffd2a3",
      "name": "Set Data For GoogleSheets"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        60
      ],
      "id": "33246923-7a59-4bdb-9351-7a6e0749c031",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -220
      ],
      "id": "926dc85c-9d24-4412-ad2a-b5ce03e6cad6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        1960
      ],
      "id": "96aac57d-9f2d-4e34-90a4-ffd0d89ff4a0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        1680
      ],
      "id": "4639bc22-d9be-49db-9197-4c0f6e2fc5ff",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        1820
      ],
      "id": "d284028b-cc50-4a92-a9d8-48759de6ab62",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -80
      ],
      "id": "2969ab50-10e1-412e-a259-8f8dbf9a8d0a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').first().json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('Set Account Fields').first().json.locationId }}\",\n  \"page\": 1,\n  \"pageLimit\": 20,\n  \"filters\": [\n    {\n      \"field\": \"phone\",\n      \"operator\": \"eq\",\n      \"value\": \"{{ $('Set Account Fields').first().json.from_number }}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "contact_details"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3820,
        1360
      ],
      "id": "29c6d76f-d1b0-4233-b1ef-e05475eb5c54",
      "name": "Search Contacts GHL",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get input data from nodes\nconst customValuesData = $('Get Custom Values GHL')?.item?.json?.custom_values || \"{}\";\nconst customFieldsData = $('Get Custom Fields GHL')?.item?.json?.custom_fields || \"{}\";\nconst contactData = $('Search Contacts GHL')?.item?.json?.contact_details || \"{}\";\nconst formattedNotes = $('Code Parse Notes')?.item?.json?.readableNotes || \"\";\nconst formattedConversations = $('Code Parse Notes')?.item?.json?.readableConversations || \"\";\nconst calendarData = $('Get Calendars GHL')?.item?.json?.calendars || \"{}\";\nconst accountFields = $('Set Account Fields')?.item?.json || {};\n\n// Get webhook data - this contains all field values\nconst webhookData = $('Webhook')?.item?.json?.body || {};\n\n// Safely parse JSON strings to objects\nfunction safeJsonParse(jsonStr, defaultValue = {}) {\n  try {\n    return typeof jsonStr === 'string' ? JSON.parse(jsonStr) : jsonStr;\n  } catch (e) {\n    console.log(`Error parsing JSON: ${e.message}`);\n    return defaultValue;\n  }\n}\n\n// Parse the JSON strings to objects\nconst customValuesObj = safeJsonParse(customValuesData);\nconst customFieldsObj = safeJsonParse(customFieldsData);\nconst contactObj = safeJsonParse(contactData);\nconst calendarObj = safeJsonParse(calendarData);\n\n// Extract the contact data from the first contact in the array\nconst contact = contactObj?.contacts && Array.isArray(contactObj.contacts) && contactObj.contacts.length > 0 \n  ? contactObj.contacts[0] \n  : {};\n\n// Extract custom fields array from both sources\nconst accountCustomFields = Array.isArray(customFieldsObj?.customFields) ? customFieldsObj.customFields : [];\nconst contactCustomFields = Array.isArray(contact?.customFields) ? contact.customFields : [];\nconst accountCustomValues = Array.isArray(customValuesObj?.customValues) ? customValuesObj.customValues : [];\nconst calendars = Array.isArray(calendarObj?.calendars) ? calendarObj.calendars : [];\n\n// Format contact name with proper capitalization\nconst firstName = contact?.firstNameLowerCase ? \n  contact.firstNameLowerCase.charAt(0).toUpperCase() + contact.firstNameLowerCase.slice(1) : \n  '';\nconst lastName = contact?.lastNameLowerCase ? \n  contact.lastNameLowerCase.charAt(0).toUpperCase() + contact.lastNameLowerCase.slice(1) : \n  '';\nconst fullName = `${firstName} ${lastName}`.trim() || 'none';\n\n// Get essential values from configuration\nconst voiceAgentName = \"Finn\";\nconst voiceAgentId = \"agent_9cd79204b446b2dd69e63de808\";\n\n// Create calendar mapping\nconst calendarMap = {};\ncalendars.forEach(calendar => {\n  if (!calendar) return;\n  \n  const calendarName = calendar.name || \"\";\n  const snakeCaseName = calendarName\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, '')\n    .replace(/\\s+/g, '_');\n  \n  calendarMap[calendarName] = calendar.id || '';\n  calendarMap[snakeCaseName] = calendar.id || '';\n});\n\n// Get connection details from Set Account Fields\nconst toNumber = String(accountFields?.to_number || webhookData?.phone || '');\nconst fromNumber = String(accountFields?.from_number || webhookData?.['Assigned Phone Number'] || '');\nconst privateIntegrationToken = String(accountFields?.Authorization || webhookData?.customData?.['Private Integration Token'] || '');\nconst locationId = String(accountFields?.locationId || (webhookData?.location?.id || ''));\nconst accountTimezone = String(accountFields?.['Account Timezone'] || 'America/New_York');\n\n// Create custom field name to ID mapping\nconst fieldNameToId = {};\naccountCustomFields.forEach(field => {\n  if (!field?.name) return;\n  \n  const snakeCaseName = field.name\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, '')\n    .replace(/\\s+/g, '_');\n\n  fieldNameToId[field.name] = field.id;\n  fieldNameToId[snakeCaseName] = field.id;\n});\n\n// Start building dynamic variables with basic info\nconst dynamicVariables = {\n  // Basic contact info\n  name: String(firstName || webhookData?.first_name || 'none'),\n  phone: String(contact?.phone || webhookData?.phone || 'none'),\n  email: String(contact?.email || webhookData?.email || 'none'),\n  address: String(contact?.address || webhookData?.full_address || 'none'),\n  full_name: String(fullName || (webhookData?.full_name || 'none')),\n  business_name: String(contact?.businessName || contact?.companyName || webhookData?.company_name || 'none'),\n  contact_id: String(contact?.id || webhookData?.contact_id || ''),\n  location_id: locationId,\n  private_integration_token: privateIntegrationToken,\n  account_company_name: \"INFINITX AI\",\n  from_number: fromNumber,\n  to_number: toNumber,\n  account_timezone: accountTimezone,\n  voice_ai_agent_name: voiceAgentName,\n  voice_ai_agent_id: voiceAgentId,\n  \n  // Calendar IDs \n  sales_calendar_id: \"cW52AjPgQBW9oj8xgKZz\",\n  sales2_calendar_id: \"cW52AjPgQBW9oj8xgKZz\",\n  onboarding_calendar_id: \"pk0fNghOxpLWocCxQgfW\",\n  customer_success_calendar_id: \"fj2cWOY9KUqowNzokkeR\",\n  \n  // Add conversation and notes history\n  conversation_history: formattedConversations,\n  notes_history: formattedNotes,\n  \n  // Tags\n  tags: Array.isArray(contact?.tags) ? contact.tags.join(', ') : (webhookData?.tags || '')\n};\n\n// Directly add values from webhook data - this is the most important part!\n// The values come directly from the webhook payload\nfor (const [key, value] of Object.entries(webhookData)) {\n  // Skip some special fields and objects\n  if (key === 'location' || key === 'user' || key === 'workflow' || \n      key === 'customData' || key === 'triggerData') {\n    continue;\n  }\n  \n  if (key && value !== undefined && value !== null) {\n    // Convert to snake_case\n    const snakeCaseName = key\n      .toLowerCase()\n      .replace(/[^\\w\\s]/g, '')\n      .replace(/\\s+/g, '_');\n      \n    if (snakeCaseName) {\n      // Directly add the value\n      dynamicVariables[snakeCaseName] = String(value || '');\n    }\n  }\n}\n\n// Add all custom field IDs with suffix _id\naccountCustomFields.forEach(field => {\n  if (!field?.id || !field?.name) return;\n  \n  const snakeCaseName = field.name\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, '')\n    .replace(/\\s+/g, '_');\n    \n  // Add the field ID with _id suffix\n  dynamicVariables[`${snakeCaseName}_id`] = String(field.id);\n  \n  // Only add the field value if not already set from webhook\n  // First look in webhookData by original field name\n  if (dynamicVariables[snakeCaseName] === undefined) {\n    if (webhookData[field.name] !== undefined) {\n      dynamicVariables[snakeCaseName] = String(webhookData[field.name] || '');\n    }\n  }\n});\n\n// Add calendar_map\ndynamicVariables.calendar_map = JSON.stringify({\n  \"Sales Calendar - AI Growth Partner\": \"cW52AjPgQBW9oj8xgKZz\",\n  \"sales_calendar_ai_growth_partner\": \"cW52AjPgQBW9oj8xgKZz\", \n  \"Customer Success Calendar\": \"fj2cWOY9KUqowNzokkeR\",\n  \"customer_success_calendar\": \"fj2cWOY9KUqowNzokkeR\",\n  \"Onboarding Calendar\": \"pk0fNghOxpLWocCxQgfW\",\n  \"onboarding_calendar\": \"pk0fNghOxpLWocCxQgfW\"\n});\n\n// Format the final output\nconst callInbound = {\n  call_inbound: {\n    dynamic_variables: dynamicVariables\n  }\n};\n\n// Convert the object to a properly formatted JSON string\nconst jsonString = JSON.stringify(callInbound, null, 2);\n\n// Return an object with the jsonString as an easily mappable property\nreturn { jsonBody: jsonString };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1260,
        1360
      ],
      "id": "782088fa-290c-45c1-ab66-7fbcfcfff8f6",
      "name": "Match Final Values",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Improved notes parser that's more dynamic and robust\nfunction processData() {\n  try {\n    // Get the raw outputs from the nodes\n    const conversationsRaw = $('Get Messages By Conversation ID GHL').item.json.conversations_output;\n    const notesRaw = $('Get Notes GHL').item.json.notes_output;\n    \n    // Parse the JSON strings\n    const conversationsData = JSON.parse(conversationsRaw);\n    const notesData = JSON.parse(notesRaw);\n    \n    // Format the data for humans and AI consumption\n    const readableConversations = formatConversations(conversationsData);\n    const readableNotes = formatNotesImproved(notesData);\n    \n    // Return the result\n    return [{ \n      json: {\n        readableConversations: readableConversations,\n        readableNotes: readableNotes\n      } \n    }];\n  } catch (error) {\n    return [{ json: { error: error.message } }];\n  }\n}\n\n// Format conversations (keeping existing implementation)\nfunction formatConversations(data) {\n  let result = \"== CONVERSATION HISTORY ==\\n\\n\";\n  \n  if (!data.messages || !data.messages.messages || data.messages.messages.length === 0) {\n    return result + \"No conversations found.\";\n  }\n  \n  const messages = data.messages.messages;\n  \n  for (let i = 0; i < messages.length; i++) {\n    const msg = messages[i];\n    \n    // Add date\n    result += \"[\" + new Date(msg.dateAdded).toLocaleString() + \"] \";\n    \n    // Add direction\n    if (msg.direction === \"inbound\") {\n      result += \"INCOMING \";\n    } else {\n      result += \"OUTGOING \";\n    }\n    \n    // Add type\n    if (msg.messageType === \"TYPE_ACTIVITY_OPPORTUNITY\") {\n      result += \"Opportunity Activity\";\n    } else if (msg.messageType === \"TYPE_SMS\") {\n      result += \"SMS\";\n    } else if (msg.messageType === \"TYPE_CALL\") {\n      result += \"Call\";\n    } else {\n      result += msg.messageType;\n    }\n    \n    // Add status if available\n    if (msg.status) {\n      result += \" (\" + msg.status + \")\";\n    }\n    \n    result += \":\\n\";\n    \n    // Add body if available\n    if (msg.body) {\n      result += msg.body + \"\\n\";\n    }\n    \n    // Add separator\n    if (i < messages.length - 1) {\n      result += \"\\n--------------------------------------------------\\n\\n\";\n    }\n  }\n  \n  return result;\n}\n\n// Improved notes formatter that's more flexible\nfunction formatNotesImproved(data) {\n  let result = \"== CONTACT NOTES ==\\n\\n\";\n  \n  if (!data.notes || data.notes.length === 0) {\n    return result + \"No notes found.\";\n  }\n  \n  const notes = data.notes;\n  \n  for (let i = 0; i < notes.length; i++) {\n    const note = notes[i];\n    \n    result += \"NOTE CREATED: \" + new Date(note.dateAdded).toLocaleString() + \"\\n\\n\";\n    \n    // Extract data dynamically from the note body\n    try {\n      // Get the note body and try to parse key-value pairs\n      const noteBody = note.body;\n      \n      // Check if the note body looks like it contains JSON-like key-value pairs\n      if (noteBody.includes(\"\\\"key\\\"\") && noteBody.includes(\"\\\"field_value\\\"\")) {\n        // Parse the pseudo-JSON structure\n        const entries = extractKeyValuePairs(noteBody);\n        \n        // Group entries by category\n        const callDetails = {};\n        let transcript = \"\";\n        let summary = \"\";\n        \n        // Process each entry\n        entries.forEach(entry => {\n          const key = entry.key;\n          const value = entry.value;\n          \n          // Handle special cases\n          if (key === \"AI Call Transcript\") {\n            transcript = value;\n          } else if (key === \"AI Call Summary\") {\n            summary = value;\n          } else {\n            // Store other fields in the details object\n            callDetails[key] = value;\n          }\n        });\n        \n        // Output formatted data (Details first)\n        result += \"=== CALL DETAILS ===\\n\";\n        \n        // Organize details into categories for better readability\n        const categories = {\n          \"Basic Info\": [\"AI Call Type\", \"AI Call Contact Name\", \"AI Call Duration\"],\n          \"Outcome\": [\"AI Call Outcome\", \"AI Call Outcome Reason\"],\n          \"Appointment\": [\"AI Call Appointment DateTime\"],\n          \"Contact Info\": [\"AI Call Contact Email\", \"AI Call Contact Phone\"],\n          \"Technical\": [\"AI Call Recording\", \"AI Call Timestamp\", \"AI Call Ended Reason\"]\n        };\n        \n        // Display details by category\n        for (const [category, fields] of Object.entries(categories)) {\n          let categoryHasValues = false;\n          let categoryContent = \"\";\n          \n          fields.forEach(field => {\n            if (callDetails[field] && callDetails[field] !== \"none\" && callDetails[field] !== \"not_detected\") {\n              categoryContent += ` ${field.replace('AI Call ', '')}: ${callDetails[field]}\\n`;\n              categoryHasValues = true;\n            }\n          });\n          \n          if (categoryHasValues) {\n            result += `\\n${category}:\\n${categoryContent}`;\n          }\n        }\n        \n        // Add any remaining fields that weren't in specific categories\n        let otherFields = \"\";\n        for (const [key, value] of Object.entries(callDetails)) {\n          if (value && value !== \"none\" && value !== \"not_detected\") {\n            // Check if this field was already included in a category\n            let alreadyIncluded = false;\n            for (const fields of Object.values(categories)) {\n              if (fields.includes(key)) {\n                alreadyIncluded = true;\n                break;\n              }\n            }\n            \n            if (!alreadyIncluded) {\n              otherFields += ` ${key.replace('AI Call ', '')}: ${value}\\n`;\n            }\n          }\n        }\n        \n        if (otherFields) {\n          result += \"\\nOther Details:\\n\" + otherFields;\n        }\n        \n        // Add summary if present\n        if (summary) {\n          result += \"\\n=== CALL SUMMARY ===\\n\" + summary + \"\\n\";\n        }\n        \n        // Add transcript if present (full transcript, but with improved formatting)\n        if (transcript) {\n          result += \"\\n=== FULL TRANSCRIPT ===\\n\\n\";\n          \n          // Improve transcript readability by formatting agent/user exchanges\n          const formattedTranscript = formatTranscript(transcript);\n          result += formattedTranscript + \"\\n\";\n        }\n      } else {\n        // If not in the expected format, just include the raw note body\n        result += \"NOTE CONTENT:\\n\" + noteBody + \"\\n\";\n      }\n    } catch (error) {\n      // Fallback if parsing fails\n      result += \"NOTE CONTENT (raw):\\n\" + note.body + \"\\n\";\n    }\n    \n    // Add separator between notes\n    if (i < notes.length - 1) {\n      result += \"\\n\" + \"=\".repeat(50) + \"\\n\\n\";\n    }\n  }\n  \n  return result;\n}\n\n// Helper function to format transcript for better readability\nfunction formatTranscript(transcript) {\n  // Replace escaped newlines with actual newlines\n  let formatted = transcript.replace(/\\\\n/g, '\\n');\n  \n  // Split into lines\n  const lines = formatted.split('\\n');\n  let result = '';\n  \n  // Process each line\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    \n    if (line.startsWith('Agent:')) {\n      // Format agent lines\n      result += line + '\\n';\n    } else if (line.startsWith('User:')) {\n      // Add spacing before user responses and format\n      if (i > 0) result += '\\n';\n      result += line + '\\n';\n    } else {\n      // Add other lines as-is\n      result += line + '\\n';\n    }\n  }\n  \n  return result;\n}\n\n\n// Helper function to extract key-value pairs from the pseudo-JSON structure\nfunction extractKeyValuePairs(text) {\n  const entries = [];\n  const lines = text.split(\"\\n\");\n  \n  let currentKey = null;\n  let currentValue = null;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    \n    // Look for key lines\n    if (line.includes(\"\\\"key\\\"\") && line.includes(\":\")) {\n      // Extract the key name\n      const keyMatch = line.match(/\\\"key\\\":\\s*\\\"([^\\\"]+)\\\"/);\n      if (keyMatch && keyMatch[1]) {\n        currentKey = keyMatch[1];\n      }\n    }\n    \n    // Look for field_value lines\n    if (line.includes(\"\\\"field_value\\\"\") && line.includes(\":\")) {\n      // Extract the value\n      const valueMatch = line.match(/\\\"field_value\\\":\\s*\\\"(.*?)\\\"/);\n      if (valueMatch) {\n        // Handle escaped quotes within the value\n        currentValue = valueMatch[1].replace(/\\\\\"/g, '\"').replace(/\\\\\\\\n/g, '\\n');\n        \n        // If we have both key and value, add them to our entries\n        if (currentKey) {\n          entries.push({\n            key: currentKey,\n            value: currentValue\n          });\n          \n          // Reset for next pair\n          currentKey = null;\n          currentValue = null;\n        }\n      }\n    }\n  }\n  \n  return entries;\n}\n\n// Run the function and return the result\nreturn processData();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2500,
        1360
      ],
      "id": "5d742a63-e03c-4136-aa1d-de47998d6b59",
      "name": "Code Parse Notes",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contact_id }}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "notes_output"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2760,
        1360
      ],
      "id": "bbdda680-71db-49b7-8f42-31a2040ca2db",
      "name": "Get Notes GHL",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/{{ $('Search Conversations GHL3').item.json.conversations[0].id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "conversations_output"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3020,
        1360
      ],
      "id": "3a7dd904-bf05-44cc-a90d-4c9eee9d5956",
      "name": "Get Messages By Conversation ID GHL",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/calendars/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{ $('Set Account Fields').item.json.locationId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "calendars"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2200,
        1360
      ],
      "id": "e4ec3371-f43d-4b64-8d37-71876314e1b3",
      "name": "Get Calendars GHL",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/locations/{{ $('Set Account Fields').item.json.locationId }}/customValues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "custom_values"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1480,
        1360
      ],
      "id": "cc4935ce-ef67-4c9a-8018-0adef531101d",
      "name": "Get Custom Values GHL",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').first().json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('Set Account Fields').first().json.locationId }}\",\n  \"page\": 1,\n  \"pageLimit\": 20,\n  \"filters\": [\n    {\n      \"field\": \"phone\",\n      \"operator\": \"eq\",\n      \"value\": \"{{ $('Set Account Fields').first().json.to_number }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3520,
        1360
      ],
      "id": "f8cc0721-fd53-4f62-a3b8-8d37f4eadc65",
      "name": "Search Contacts GHL2",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/conversations/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{$('Webhook').item.json.body.contact_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3260,
        1360
      ],
      "id": "0006a52b-2df7-4bfe-aeb6-9b593bd5f1ab",
      "name": "Search Conversations GHL3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// This code extracts specific fields from the previous node output\n// for creating personalized messages\n\n// Get the output from the previous node (Match Final Values)\nconst inputData = $input.item.json.jsonBody || \"{}\";\n\ntry {\n  // Parse the JSON string from the previous node\n  const parsedData = typeof inputData === 'string' ? JSON.parse(inputData) : inputData;\n  \n  // Access the dynamic_variables object\n  const dynamicVars = parsedData?.call_inbound?.dynamic_variables || {};\n  \n  // Extract only the fields we need for personalization\n  const personalizedData = {\n    // Contact basics\n    first_name: dynamicVars.first_name || dynamicVars.name || \"\",\n    last_name: dynamicVars.last_name || \"\",\n    full_name: dynamicVars.full_name || \"\",\n    company_name: dynamicVars.company_name || dynamicVars.business_name || \"\",\n    country: dynamicVars.country || \"\",\n    date_created: dynamicVars.date_created || \"\",\n    full_address: dynamicVars.full_address || dynamicVars.address || \"\",\n    \n    // Professional details\n    title: dynamicVars.title || \"\",\n    about: dynamicVars.about || \"\",\n    phone_direct: dynamicVars.phone_direct || \"\",\n    phone_hq: dynamicVars.phone_hq || \"\",\n    \n    // Company info\n    industries: dynamicVars.industries || \"\",\n    employees: dynamicVars.employees || \"\",\n    revenue: dynamicVars.revenue || \"\",\n    business_description: dynamicVars.business_description || \"\",\n    employed_date: dynamicVars.employed_date || \"\",\n    founded_year: dynamicVars.founded_year || \"\",\n    sic_codes: dynamicVars.sic_codes || \"\",\n    naics_codes: dynamicVars.naics_codes || \"\",\n    product_services: dynamicVars.product_services || \"\",\n    executives: dynamicVars.executives || \"\",\n    similar_companies: dynamicVars.similar_companies || \"\"\n  };\n  \n  // Create both text-friendly and JSON outputs for flexibility\n  \n  // Text summary for easy reading (e.g., for AI prompts)\n  const textSummary = `\nContact: ${personalizedData.full_name} (${personalizedData.title})\nCompany: ${personalizedData.company_name}\nIndustry: ${personalizedData.industries}\nSize: ${personalizedData.employees} employees, Revenue: ${personalizedData.revenue}\nLocation: ${personalizedData.full_address}\nDirect Phone: ${personalizedData.phone_direct}\nHQ Phone: ${personalizedData.phone_hq}\n\nAbout Contact:\n${personalizedData.about}\n\nBusiness Description:\n${personalizedData.business_description}\n\nProducts/Services: ${personalizedData.product_services}\nFounded: ${personalizedData.founded_year}\nKey Executives: ${personalizedData.executives}\nSimilar Companies: ${personalizedData.similar_companies}\n`.trim();\n\n  // Return both formats for maximum flexibility\n  return {\n    json: {\n      personalization: personalizedData,  // JSON format for programmatic use\n      summary: textSummary                // Text format for direct use in messages\n    }\n  };\n  \n} catch (error) {\n  // Handle any errors that occur during processing\n  return {\n    json: {\n      error: true,\n      message: `Error processing data: ${error.message}`,\n      inputData: inputData\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        1360
      ],
      "id": "031b124f-de0c-4d8f-8ea0-587a49f35e6f",
      "name": "Extract Contact Details",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/locations/{{ $('Set Account Fields').item.json.locationId }}/customFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "custom_fields"
            }
          }
        }
      },
      "id": "c3d0c57f-560d-4b91-ba86-f25460bb4fac",
      "name": "Get Custom Fields GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1940,
        1360
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/locations/{{ $('Set Account Fields').item.json.locationId }}/customFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "b2addaaa-5ae7-4d3f-a3f5-3e5bcffdc60a",
      "name": "Get Custom Fields GHL Update Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1700,
        1360
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Search Contacts GHL2').item.json.contacts[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Cadence').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 3 Tracking').item.json['Text Cadence #'] }}\"\n    },\n    {\n      \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Cadence').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 3 Tracking').item.json['Spintax Cadence Content'] }}\"\n    },\n    {\n      \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Cadence').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 3 Tracking').item.json['Spintax Text Variant'] }}\"\n    }\n   \n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        1480
      ],
      "id": "18f134ae-d92f-49d8-ac77-ae5b9803a942",
      "name": "Update Contact AI Outreach Fields GHL2",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Search Contacts GHL2').item.json.contacts[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Cadence').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 1 Tracking').item.json['Text Cadence #'] }}\"\n    },\n    {\n      \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Cadence Content').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 1 Tracking').item.json['Spintax Cadence Content'] }}\"\n    },\n    {\n      \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Spintax Variant').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 1 Tracking').item.json['Spintax Text Variant'] }}\"\n    }\n   \n  ]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        1040
      ],
      "id": "f88c3dcf-abc0-40ab-9edd-d66f19073833",
      "name": "Update Contact AI Outreach Fields GHL",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Search Contacts GHL2').item.json.contacts[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Account Fields').item.json.Authorization }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Cadence').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 2 Tracking').item.json['Text Cadence #'] }}\"\n    },\n    {\n     \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Cadence').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 2 Tracking').item.json['Spintax Cadence Content'] }}\"\n    },\n    {\n      \"id\": \"{{ $('Get Custom Fields GHL Update Contact').item.json.customFields.find(f => f.name === 'AI Outreach Cadence').id }}\",\n      \"field_value\": \"{{ $('SMS Cadence 2 Tracking').item.json['Spintax Text Variant'] }}\"\n    }\n   \n  ]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        1260
      ],
      "id": "08b0d182-b525-4616-8924-52fec690887a",
      "name": "Update Contact AI Outreach Fields GHL1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        1040
      ],
      "id": "abca1cb4-9bb4-4cda-8824-13b5ecade3ed",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        1260
      ],
      "id": "ca6d1ce8-2a82-42b0-b743-31e031bb896c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        1480
      ],
      "id": "8f114497-c362-457e-b1c0-cf5e0cbc60ce",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1700,
        1060
      ],
      "id": "8606a782-2781-4791-b966-7747d70d2da8",
      "name": "Wait 2 minutes",
      "webhookId": "20e0ec57-be0a-4ea4-8ff1-aee402c1d283"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1700,
        1280
      ],
      "id": "788e7291-4122-48c6-8fcd-b11d6bc7e826",
      "name": "Wait 2 minutes1",
      "webhookId": "20e0ec57-be0a-4ea4-8ff1-aee402c1d283"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1700,
        1500
      ],
      "id": "3243525f-411c-46d5-9209-5233683aeea9",
      "name": "Wait 2 minutes2",
      "webhookId": "20e0ec57-be0a-4ea4-8ff1-aee402c1d283"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4480,
        1380
      ],
      "id": "07d5351a-8e04-4e40-97f5-53954875d240",
      "name": "Batch not oversaturate GHL"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4240,
        1400
      ],
      "id": "52ab0e8f-9a34-4e5a-a0b5-880b3e1384ff",
      "name": "Wait 10 seconds",
      "webhookId": "04a1f0de-986c-4d8c-bcbc-f5a22ccd4722"
    },
    {
      "parameters": {
        "content": "# 1 Requiered Video to Watch\n## AI Outreach Set UP\n\n[![YouTube Video](https://raw.githubusercontent.com/Trejon-888/n8n-workflows/refs/heads/main/InfinitX%20Island%20Logo.png#full-width)](https://www.loom.com/share/936ca8f329bc423bbf5a2447cc635034?sid=156dd931-8d30-4f10-a06c-155e0e30dc21)",
        "height": 600,
        "width": 630,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3140,
        -220
      ],
      "id": "c1ef7ea4-a012-4df1-8627-4a58d1e4f7eb",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4140,
        1260
      ],
      "id": "e71747c5-d74e-4470-a700-6b734e2ce3e0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10ff319f-7b29-46f9-a1cb-d21b768a19c3",
              "name": "Authorization",
              "value": "={{ $json.body.customData['Private Integration Token'] }}",
              "type": "string"
            },
            {
              "id": "ce3377ae-e394-4739-a8dd-d099b02ee1d2",
              "name": "locationId",
              "value": "={{ $json.body.location.id }}",
              "type": "string"
            },
            {
              "id": "65dd36bb-645c-4aac-8135-952b822b77cd",
              "name": "Account Timezone",
              "value": "={{ YOUR ACCOUNT TIME ZONE America/New_York for example }}",
              "type": "string"
            },
            {
              "id": "96b9ae16-deb6-4029-88e4-22f8c4e2661c",
              "name": "to_number",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "1c8611cd-5f66-4f6e-b208-bfa2c1845280",
              "name": "from_number",
              "value": "={{ $('Webhook').item.json.body['Assigned Phone Number'] }}",
              "type": "string"
            },
            {
              "id": "fb044596-e5e4-4acc-bc2c-10e9b795533c",
              "name": "current_datetime",
              "value": "={{ $now.setZone($json.placeholders.custom_values.account_timezone) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4060,
        1360
      ],
      "id": "9b891606-fd9c-4172-9d73-b3b19771544f",
      "name": "Set Account Fields"
    },
    {
      "parameters": {
        "content": "# 2 AI Outreach Workflow GHL\n[![YouTube Video](https://raw.githubusercontent.com/Trejon-888/n8n-workflows/refs/heads/main/AI%20Outreach%20Workflow.png#full-width)](https://www.loom.com/share/936ca8f329bc423bbf5a2447cc635034?sid=156dd931-8d30-4f10-a06c-155e0e30dc21)\n\n# 3 Understanding AI Outreach Workflow N8N\n[![Loom Video](https://raw.githubusercontent.com/Trejon-888/n8n-workflows/refs/heads/main/N8N%20Outreach%20Workflow.png#full-width)](https://www.loom.com/share/acceecb27a134256a59d9b25d6ed91eb?sid=b2d10fe6-8cd9-4875-ba6f-727be2cfc6bb)\n\n# 4 Understanding AI Outreach Workflow RVM (DropCowboy SetUp)\n[![Loom Video](https://raw.githubusercontent.com/Trejon-888/n8n-workflows/refs/heads/main/Drop%20Cowboy%20Workflow.png#full-width)](https://www.loom.com/share/639e981afcab4e5b9c8192b9c45910d8?sid=5ce0c6ed-9a26-450a-bc79-53273e19ff98)\n\n",
        "height": 1360,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2460,
        -640
      ],
      "typeVersion": 1,
      "id": "082f9349-13f9-4c43-9d55-ae8d4460c69b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{YOUR GOOGLE SHEET ID RVM}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 494391445,
          "mode": "list",
          "cachedResultName": "RVM Sent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wjNAzM7rOu8DB0paFMYUxVBi-Q8Z10yDoaB2V44fPMM/edit#gid=494391445"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Set Data For GoogleSheets1').item.json.lead_id }}",
            "ghl_id ": "={{ $('Set Data For GoogleSheets1').item.json.ghl_contact_id_cold }}",
            "lead name": "={{ $('Set Data For GoogleSheets1').item.json.lead_name }}",
            "cadence id": "={{ $('Set Data For GoogleSheets1').item.json.cadence_id }}",
            "channel": "={{ $('Set Data For GoogleSheets1').item.json.channel }}",
            "message_type": "={{ $('Set Data For GoogleSheets1').item.json.message_type }}",
            "message_content": "={{ $('Set Data For GoogleSheets1').item.json.message_content }}",
            "conversation id": "={{ $('Set Data For GoogleSheets1').item.json.message_content }}",
            "interaction cost": "={{ $('Set Data For GoogleSheets1').item.json.interaction_cost }}",
            "metada ": "={{ $('Set Data For GoogleSheets1').item.json.metadata }}",
            "metadata_conversation": "={{ $('Set Data For GoogleSheets1').item.json.metadata_conversation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ghl_id ",
              "displayName": "ghl_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead name",
              "displayName": "lead name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cadence id",
              "displayName": "cadence id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_content",
              "displayName": "message_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation id",
              "displayName": "conversation id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interaction cost",
              "displayName": "interaction cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metada ",
              "displayName": "metada ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metadata_conversation",
              "displayName": "metadata_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        360
      ],
      "id": "94c3ca47-6367-42cd-a500-25ac61a924e3",
      "name": "Update AI RVM Channel Data Tracking1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yYukeXRMn04jG7x6",
          "name": "Enrique IX Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{YOUR GOOGLE SHEET ID RVM}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 494391445,
          "mode": "list",
          "cachedResultName": "RVM Sent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wjNAzM7rOu8DB0paFMYUxVBi-Q8Z10yDoaB2V44fPMM/edit#gid=494391445"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Set Data For GoogleSheets2').item.json.lead_id }}",
            "ghl_id ": "={{ $('Set Data For GoogleSheets2').item.json.ghl_contact_id_cold }}",
            "lead name": "={{ $('Set Data For GoogleSheets2').item.json.lead_name }}",
            "cadence id": "={{ $('Set Data For GoogleSheets2').item.json.cadence_id }}",
            "channel": "={{ $('Set Data For GoogleSheets2').item.json.channel }}",
            "message_type": "={{ $('Set Data For GoogleSheets2').item.json.message_type }}",
            "message_content": "={{ $('Set Data For GoogleSheets2').item.json.message_content }}",
            "conversation id": "={{ $('Set Data For GoogleSheets2').item.json.message_content }}",
            "interaction cost": "={{ $('Set Data For GoogleSheets2').item.json.interaction_cost }}",
            "metada ": "={{ $('Set Data For GoogleSheets2').item.json.metadata }}",
            "metadata_conversation": "={{ $('Set Data For GoogleSheets2').item.json.metadata_conversation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ghl_id ",
              "displayName": "ghl_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead name",
              "displayName": "lead name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cadence id",
              "displayName": "cadence id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_content",
              "displayName": "message_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation id",
              "displayName": "conversation id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interaction cost",
              "displayName": "interaction cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metada ",
              "displayName": "metada ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metadata_conversation",
              "displayName": "metadata_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        580
      ],
      "id": "e30928b5-b7cd-438b-a8ee-5e6dfef7a70f",
      "name": "Update AI RVM Channel Data Tracking",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yYukeXRMn04jG7x6",
          "name": "Enrique IX Account"
        }
      }
    },
    {
      "parameters": {
        "content": "##  Make sure Spreadsheet ID Looks Right - Click Refresh !!!",
        "height": 80,
        "width": 710
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        1720
      ],
      "id": "d3c33bca-a496-414a-a282-cda960a500a1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "##  Make sure Spreadsheet ID Looks Right - Click Refresh !!!",
        "height": 80,
        "width": 710
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        1840
      ],
      "id": "7777a5a6-5526-4fb0-bc64-dfeeba438790",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "##  Make sure Spreadsheet ID Looks Right - Click Refresh !!!",
        "height": 80,
        "width": 710
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        1960
      ],
      "id": "5f5733c1-b8f1-4188-ba2c-e9bb7e165dc3",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# Follow Step By Step + Make sure you drop a  at the end of each loom video.\n\n## Click On the Images to Open the Sticky Looms in Order :)",
        "height": 280,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3840,
        -80
      ],
      "id": "6757780e-1f4e-4b7d-b534-ad51b8dce863",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "#    1",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1880,
        920
      ],
      "id": "49014585-8003-4033-b499-d2497b247ee4",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "#    2",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1580,
        60
      ],
      "id": "0bf6edbe-b5a5-466a-92a3-41e6455fe9a9",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "#    3",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4080,
        1140
      ],
      "id": "34048218-9f8b-4882-b45f-ffe8acea2df9",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "#    4",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        920
      ],
      "id": "14e7aa20-9934-4751-8901-26a17eb64968",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "#    5",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        -340
      ],
      "id": "75fb01f1-53b4-4ecd-b193-5b730b0e1e94",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{YOUR GOOGLE SHEET ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI TEXT SENT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T09BY4jiBZ80vEi9mMF4pXTXR3TfSCxEP2YLfY_pbRM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json.contact.dateUpdated.replace('T', ' ').split('.')[0]}}",
            "Contact ID": "={{ $('Search Contacts GHL2').item.json.contacts[0].id }}",
            "Lead Name": "={{ $('Search Contacts GHL2').item.json.contacts[0].firstNameLowerCase + \" \" + $('Search Contacts GHL2').item.json.contacts[0].lastNameLowerCase}}",
            "Lead Phone": "={{ $('Set Account Fields').item.json.to_number }}",
            "Business Name": "={{ $('Search Contacts GHL2').item.json.contacts[0].companyName }}",
            "Tags Applied": "={{ $('SMS Cadence 1 Tracking').item.json['Tags Applied'] }}",
            "Response Channel": "={{ $('SMS Cadence 1 Tracking').item.json['Response Channel'] }}",
            "Lead Email": "={{ $('Search Contacts GHL2').item.json.contacts[0].email }}",
            "Spintax Text Variant": "={{ $('SMS Cadence 1 Tracking').item.json['Spintax Text Variant'] }}",
            "Spintax Text Cadence Content": "={{ $('SMS Cadence 1 Tracking').item.json['Spintax Cadence Content'] }}",
            "Text Cadence # ": "={{ $('SMS Cadence 1 Tracking').item.json['Text Cadence #'] }}",
            "Text Sent Cost": "={{ $('SMS Cadence 1 Tracking').item.json['Text Sent Cost'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact ID",
              "displayName": "Contact ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Phone",
              "displayName": "Lead Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Channel",
              "displayName": "Response Channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Text Cadence # ",
              "displayName": "Text Cadence # ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spintax Text Cadence Content",
              "displayName": "Spintax Text Cadence Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spintax Text Variant",
              "displayName": "Spintax Text Variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags Applied",
              "displayName": "Tags Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text Sent Cost",
              "displayName": "Text Sent Cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1880,
        1020
      ],
      "id": "5d7c8975-fc0d-4c86-b459-88fcfdbb2b11",
      "name": "Update AI (Text Sent) Channel Data Tracking",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A6IQYss6hkOiCdiq",
          "name": "InfinitX Sheet Credential"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        180
      ],
      "id": "d2a5f309-d40a-48b0-9ecb-fd5c4091a8f8",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        380
      ],
      "id": "b226621c-d724-4c0a-9c01-8734b52d0368",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        600
      ],
      "id": "347afde0-5d33-462b-afac-5e5c4c56e43e",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        200
      ],
      "id": "6afcef97-dd0b-45c9-ada4-afd6761dd950",
      "name": "Wait 2 minutes3",
      "webhookId": "20e0ec57-be0a-4ea4-8ff1-aee402c1d283"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        400
      ],
      "id": "330739eb-af75-48f3-910a-4b48e5a6a2ca",
      "name": "Wait 2 minutes4",
      "webhookId": "20e0ec57-be0a-4ea4-8ff1-aee402c1d283"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        620
      ],
      "id": "1b0bb4cb-2756-401b-9a5d-468f1a64cf61",
      "name": "Wait 2 minutes5",
      "webhookId": "20e0ec57-be0a-4ea4-8ff1-aee402c1d283"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{YOUR GOOGLE SHEET ID RVM}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 494391445,
          "mode": "list",
          "cachedResultName": "RVM Sent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wjNAzM7rOu8DB0paFMYUxVBi-Q8Z10yDoaB2V44fPMM/edit#gid=494391445"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Set Data For GoogleSheets1').item.json.lead_id }}",
            "ghl_id ": "={{ $('Set Data For GoogleSheets1').item.json.ghl_contact_id_cold }}",
            "lead name": "={{ $('Set Data For GoogleSheets1').item.json.lead_name }}",
            "cadence id": "={{ $('Set Data For GoogleSheets1').item.json.cadence_id }}",
            "channel": "={{ $('Set Data For GoogleSheets1').item.json.channel }}",
            "message_type": "={{ $('Set Data For GoogleSheets1').item.json.message_type }}",
            "message_content": "={{ $('Set Data For GoogleSheets1').item.json.message_content }}",
            "conversation id": "={{ $('Set Data For GoogleSheets1').item.json.message_content }}",
            "interaction cost": "={{ $('Set Data For GoogleSheets1').item.json.interaction_cost }}",
            "metada ": "={{ $('Set Data For GoogleSheets1').item.json.metadata }}",
            "metadata_conversation": "={{ $('Set Data For GoogleSheets1').item.json.metadata_conversation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ghl_id ",
              "displayName": "ghl_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead name",
              "displayName": "lead name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cadence id",
              "displayName": "cadence id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_content",
              "displayName": "message_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation id",
              "displayName": "conversation id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interaction cost",
              "displayName": "interaction cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metada ",
              "displayName": "metada ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metadata_conversation",
              "displayName": "metadata_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        160
      ],
      "id": "e6d93b99-3d30-41fe-b0d4-354ef3346644",
      "name": "Update AI RVM Channel Data Tracking2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yYukeXRMn04jG7x6",
          "name": "Enrique IX Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropcowboy.com/v1/rvm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "team_id",
              "value": "={{ $('Set Fields For RVM 1').item.json.team_id }}"
            },
            {
              "name": "secret",
              "value": "={{ $('Set Fields For RVM 1').item.json.secret }}"
            },
            {
              "name": "brand_id",
              "value": "={{ $('Set Fields For RVM 1').item.json[\"brand_id \"] }}"
            },
            {
              "name": "voice_id",
              "value": "=[Dropcowboy Voice ID]"
            },
            {
              "name": "tts_body",
              "value": "=Example: Hey, {{ $('Extract Contact Details').item.json.personalization.first_name }}, this is {Your Name} from {Business Name}. I'm reaching out again to business owners who are considering selling their business for reinvestment or retirement. I'd like to connect you with an Advisor for a free call to answer your questions and explore options for getting as much as possible for your business. Give me a text and we'll schedule a quick confirmation call then introduce you!"
            },
            {
              "name": "phone_number",
              "value": "={{ $('Set Account Fields').item.json.to_number }}"
            },
            {
              "name": "foreign_id",
              "value": "={{ $('Set Fields For RVM 1').item.json.foreign_id }}"
            },
            {
              "name": "pool_id",
              "value": "={{ $('Set Fields For RVM 1').item.json[\"pool_id \"] }}"
            },
            {
              "name": "forwarding_number",
              "value": "=[RVM Fowarding Number to AI Call]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -540
      ],
      "id": "25a1eb22-b324-42ed-a878-ad3fa86388af",
      "name": "RVM 1 Sent AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropcowboy.com/v1/rvm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "team_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.team_id }}"
            },
            {
              "name": "secret",
              "value": "={{ $('Set Fields For RVM 2').item.json.secret }}"
            },
            {
              "name": "brand_id",
              "value": "={{ $('Set Fields For RVM 2').item.json[\"brand_id \"] }}"
            },
            {
              "name": "voice_id",
              "value": "[Dropcowboy Voice ID]"
            },
            {
              "name": "tts_body",
              "value": "=Example: {{ $('Extract Contact Details').item.json.personalization.first_name }}, {Your Name} again calling from {Business Name}. You've built something incredible and you deserve to get every dollar it's worth. Most business owners leave thirty to fourty percent on the table because they don't know how buyers really value companies. I'd like to connect you with an advisor who would like to help get you what you've earned. Shoot me a text and have a great day."
            },
            {
              "name": "phone_number",
              "value": "={{ $('Set Account Fields').item.json.to_number }}"
            },
            {
              "name": "foreign_id",
              "value": "={{ $('Set Fields For RVM 2').item.json.foreign_id }}"
            },
            {
              "name": "pool_id",
              "value": "={{ $('Set Fields For RVM 2').item.json[\"pool_id \"] }}"
            },
            {
              "name": "forwarding_number",
              "value": "[RVM Fowarding Number to AI Call]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -340
      ],
      "id": "b1214a11-c9c9-4ff1-bf8e-99534d092b82",
      "name": "RVM 2 Sent AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropcowboy.com/v1/rvm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "team_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.team_id }}"
            },
            {
              "name": "secret",
              "value": "={{ $('Set Fields For RVM 3').item.json.secret }}"
            },
            {
              "name": "brand_id",
              "value": "={{ $('Set Fields For RVM 3').item.json[\"brand_id \"] }}"
            },
            {
              "name": "voice_id",
              "value": "[Dropcowboy Voice ID]"
            },
            {
              "name": "tts_body",
              "value": "=Example: {{ $('Extract Contact Details').item.json.personalization.first_name }}, {Your Name} from {Business Name} again. Your business could be worth more than you think with the right preparation and only if it's positioned right. Years of your effort and sacrifice created this value. Don't let poor preparation cost you hundreds of thousands.Please text me back and we'll connect you with an Advisor who will help you maximize what you've built."
            },
            {
              "name": "phone_number",
              "value": "={{ $('Set Account Fields').item.json.to_number }}"
            },
            {
              "name": "foreign_id",
              "value": "={{ $('Set Fields For RVM 3').item.json.foreign_id }}"
            },
            {
              "name": "pool_id",
              "value": "={{ $('Set Fields For RVM 3').item.json[\"pool_id \"] }}"
            },
            {
              "name": "forwarding_number",
              "value": "[RVM Fowarding Number to AI Call]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -140
      ],
      "id": "57e54bf3-c5cf-4d74-87ee-f6cf3e2da69f",
      "name": "RVM 3 Sent AI"
    },
    {
      "parameters": {
        "content": "RVMs Sent by the AI \n\nhttps://www.loom.com/share/603238af8863486cab29bd9da074ac16?sid=a012dde0-1b28-4d16-b517-9c74bef4c4c1",
        "height": 100,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -680
      ],
      "id": "c1227db2-3f5b-4c9a-8386-72c68d015a58",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "Dropcowboy SetUp:\n\nhttps://docs.google.com/document/d/1BfnYtVIQHcQA1zgCiKGjS6fWHO1IJoJ5_E9xlVWuAvE/edit?usp=sharing",
        "height": 100,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -480
      ],
      "id": "1c9ff979-73c9-4ff3-bb1b-d0adc6f67452",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "66ca8ec5-1444-4a99-b33a-63def6c7e47e",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0840d336-9c0a-4bb2-ab50-f70dc4fbd560",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fa9fdc69-538b-48fa-aa6a-3cf8a9496ea1",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Update Me With The Right Info !!!",
        "height": 80,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9c87ea92-da2a-4b00-8858-ffc44cd71d61",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "Important Reminder: Change SMS Spintax to Expression\n\nhttps://www.loom.com/share/40ff400c28364b5bbbfd5f01040de67c?sid=2fafd332-d410-4eab-b375-b239a0372b21",
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        2080
      ],
      "typeVersion": 1,
      "id": "95840302-272f-4d30-93d5-a11e2ee51559",
      "name": "Sticky Note24"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Set Fields For RVM 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields For RVM 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields For RVM 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS 1 Spintax",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS 2 Spintax",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS 3 Spintax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS 1": {
      "main": [
        [
          {
            "node": "Add Tag SMS 1 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tag SMS 1 Sent": {
      "main": [
        [
          {
            "node": "Update Conversation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tag SMS 2 Sent": {
      "main": [
        [
          {
            "node": "Update Conversation ID 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Batch not oversaturate GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS 3": {
      "main": [
        [
          {
            "node": "Add Tag SMS 3 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tag SMS 3 Sent": {
      "main": [
        [
          {
            "node": "Update Conversation ID ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS 2": {
      "main": [
        [
          {
            "node": "Add Tag SMS 2 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS 2 Spintax": {
      "main": [
        [
          {
            "node": "Send SMS 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS 1 Spintax": {
      "main": [
        [
          {
            "node": "Send SMS 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS 3 Spintax": {
      "main": [
        [
          {
            "node": "Send SMS 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation ID": {
      "main": [
        [
          {
            "node": "SMS Cadence 1 Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation ID 2": {
      "main": [
        [
          {
            "node": "SMS Cadence 2 Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Cadence 2 Tracking": {
      "main": [
        [
          {
            "node": "Update Contact AI Outreach Fields GHL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Cadence 1 Tracking": {
      "main": [
        [
          {
            "node": "Update Contact AI Outreach Fields GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Cadence 3 Tracking": {
      "main": [
        [
          {
            "node": "Update Contact AI Outreach Fields GHL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation ID ": {
      "main": [
        [
          {
            "node": "SMS Cadence 3 Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Conversations GHL": {
      "main": [
        [
          {
            "node": "RVM 1 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields For RVM 1": {
      "main": [
        [
          {
            "node": "Search Conversations GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields For RVM 2": {
      "main": [
        [
          {
            "node": "Search Conversations GHL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Conversations GHL1": {
      "main": [
        [
          {
            "node": "RVM 2 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add RVM 1 Sent Tag": {
      "main": [
        [
          {
            "node": "Set Data For GoogleSheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RVM 1 Sent": {
      "main": [
        [
          {
            "node": "Add RVM 1 Sent Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RVM 2 Sent": {
      "main": [
        [
          {
            "node": "Add RVM 2 Sent Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add RVM 2 Sent Tag": {
      "main": [
        [
          {
            "node": "Set Data For GoogleSheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Conversations GHL2": {
      "main": [
        [
          {
            "node": "RVM 3 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields For RVM 3": {
      "main": [
        [
          {
            "node": "Search Conversations GHL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RVM 3 Sent": {
      "main": [
        [
          {
            "node": "Add RVM 3 Sent Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add RVM 3 Sent Tag": {
      "main": [
        [
          {
            "node": "Set Data For GoogleSheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contacts GHL": {
      "main": [
        [
          {
            "node": "Search Contacts GHL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Final Values": {
      "main": [
        [
          {
            "node": "Extract Contact Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse Notes": {
      "main": [
        [
          {
            "node": "Get Calendars GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notes GHL": {
      "main": [
        [
          {
            "node": "Code Parse Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages By Conversation ID GHL": {
      "main": [
        [
          {
            "node": "Get Notes GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendars GHL": {
      "main": [
        [
          {
            "node": "Get Custom Fields GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Custom Values GHL": {
      "main": [
        [
          {
            "node": "Match Final Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contacts GHL2": {
      "main": [
        [
          {
            "node": "Search Conversations GHL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Conversations GHL3": {
      "main": [
        [
          {
            "node": "Get Messages By Conversation ID GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Custom Fields GHL": {
      "main": [
        [
          {
            "node": "Get Custom Fields GHL Update Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Custom Fields GHL Update Contact": {
      "main": [
        [
          {
            "node": "Get Custom Values GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact Details": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact AI Outreach Fields GHL": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact AI Outreach Fields GHL1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact AI Outreach Fields GHL2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update AI (Text Sent) Channel Data Tracking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Update AI (Text Sent) Channel Data Tracking1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 minutes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Update AI (Text Sent) Channel Data Tracking2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 minutes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 minutes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 minutes1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 minutes2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch not oversaturate GHL": {
      "main": [
        [
          {
            "node": "Set Account Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 seconds": {
      "main": [
        [
          {
            "node": "Batch not oversaturate GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Account Fields": {
      "main": [
        [
          {
            "node": "Search Contacts GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data For GoogleSheets": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data For GoogleSheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data For GoogleSheets2": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Update AI RVM Channel Data Tracking2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 minutes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Update AI RVM Channel Data Tracking1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 minutes4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Update AI RVM Channel Data Tracking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 minutes5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 minutes3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 minutes4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 minutes5": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RVM 2 Sent AI": {
      "main": [
        []
      ]
    },
    "RVM 3 Sent AI": {
      "main": [
        []
      ]
    },
    "RVM 1 Sent AI": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0813947-7083-4c9c-939f-24d445217447",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "TANNuogpdLkT6hFJ",
  "tags": []
}
